:ruby
  def initialize(**)
    @b = {}
    @o = {}
    @x = {}
  end

  def mount
    loop do
      GC.stat(@b)
      ObjectSpace.count_objects(@o)
      count_reactives(@x)
      rerender!
      sleep 1
    end
  end

  def count_reactives(h = {})
    [S::Signal, S::Computed, S::Effect].each do |klass|
      h[klass.name] = ObjectSpace.each_object(klass)
    end
  end

%div
  %button{onclick: ->{ GC.start }} Run GC
  %dl
    = @b.map do |k, v|
      .entry[k]
        %dt= k
        %dd= v
  %dl
    = @o.map do |k, v|
      .entry[k]
        %dt= k
        %dd= v
  %dl
    = @x.map do |k, v|
      .entry[k]
        %dt= k
        %dd= v

:css
  dl {
    columns: 16em auto;
    font-family: monospace;
  }

  .entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  dt {
    font-weight: bold;
  }
  dl {
    text-align: right;
  }
